@model BuyTicket.Models.Oyuncu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Oyuncu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OyuncuId" />
            <div class="form-group">
                <label asp-for="OyuncuFotografi" class="control-label"></label>
                <input asp-for="OyuncuFotografi" class="form-control" />
                <span asp-validation-for="OyuncuFotografi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OyuncuAdSoyad" class="control-label"></label>
                <input asp-for="OyuncuAdSoyad" class="form-control" />
                <span asp-validation-for="OyuncuAdSoyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OyuncuHakkinda" class="control-label"></label>
                <input asp-for="OyuncuHakkinda" class="form-control" />
                <span asp-validation-for="OyuncuHakkinda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

